:root {
  --vp-c-brand: #1689f3;
  --vp-button-brand-hover-bg: #1172cc;
  --vp-button-brand-text: #ececec;
  --vp-button-brand-active-bg: #1262ad;
  --vp-button-brand-border: #d7e7f7;
  --vp-button-brand-hover-border: #a8b3be;
  --vp-button-brand-active-border: #a8b3be;
}
